# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Logs
logs/*.log

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/

# Python Build Files
build/
dist/
*.egg-info/

# Environment Variables
.env
